.project-card {
    &__info {
        display: flex;
        align-items: flex-end;
        gap: 2.4rem;
        width: 138rem;
    }

    &__image {
        height: 50rem;
        cursor: pointer;
    }
}
