.project-card {
    &__info {
        display: flex;
        align-items: flex-end;
        gap: 2.4rem;
        width: 138rem;
    }

    &__image {
        cursor: pointer;
        height: 50rem;
        filter: grayscale(100%);
        transition: all 0.5s;

        &:hover {
            filter: grayscale(0%);
        }
    }
}
