.hobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &__image {
        width: 98px;
        filter: contrast(100%);

        &--selected {
            filter: contrast(85%);
        }
    }

    &__title {
        font-family: "LinealThin", sans-serif;
        text-transform: uppercase;
        font-size: 2rem;

        &--selected {
            color: $color-primary;
            font-size: 2.4rem;
        }
    }
}
