.experience-bar {
  display: flex;
  justify-content: space-between;
  padding: 4rem 16rem;
  border-bottom: 1px solid $color-gray;
  transition: all 0.15s;

  &:hover {
    background-color: $color-primary;
  }

  &__title {
    font-family: 'LinealThin', sans-serif;
    font-size: 3.5rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: $color-primary;
    transition: all 0.15s;
  }

  &__date {
    font-size: 3.5rem;
    font-weight: lighter;
    transition: all 0.15s;
  }

  &:hover .experience-bar__title {
    color: $color-black;
  }

  &:hover .experience-bar__date {
    color: $color-black;
  }
}
