.horizontal-scroll {
    position: relative;
    height: 300vh;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8rem;
        position: sticky;
        top: 0;
        overflow: hidden;
        height: 100vh;
        padding-left: 16rem;
    }

    &__card-container {
        display: flex;
    }
}
