.scroll-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  padding-top: 2rem;
  padding-bottom: 14rem;

  &__title {
    margin-bottom: 4rem;
    padding-left: 16rem;
  }

  .ghost {
    width: 100vw;
  }
}

.thumbnails-container {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0 16rem;

  .thumbnails {
    position: relative;
    display: flex;
    gap: 36rem;
  }
}
