.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16rem;
  height: 100vh;

  &__greeting {
    font-size: 3.2rem;
    margin-bottom: -2rem;
    animation: bottomToUp 0.4s ease-in;
  }
}
