@import url("https://fonts.cdnfonts.com/css/yantramanav");

@font-face {
    font-family: "LinealBlack";
    src: url("../fonts/Lineal-Black.woff2");
}

@font-face {
    font-family: "LinealLight";
    src: url("../fonts/Lineal-Light.woff2");
}

@font-face {
    font-family: "LinealRegular";
    src: url("../fonts/Lineal-Regular.woff2");
}

@font-face {
    font-family: "LinealThin";
    src: url("../fonts/Lineal-Thin.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Yantramanav", sans-serif;
    font-size: $font-size-base;
    font-weight: 300;
    line-height: 1.5;
    background-color: $color-black;
    color: $color-white;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1 {
    font-family: "LinealBlack", sans-serif;
    font-size: $font-size-xxl;
    text-transform: uppercase;
}

h2 {
    font-family: "LinealThin", sans-serif;
    font-size: $font-size-xl;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

h3 {
    font-size: $font-size-l;
    font-weight: 300;
    color: $color-primary;
}

h4 {
    font-size: $font-size-m;
    font-weight: 300;
}

h4,
p {
    color: $color-font-base;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
