@import url('https://fonts.cdnfonts.com/css/yantramanav');
@font-face {
  font-family: 'LinealBlack';
  src: local('LinealBlack'), url('../fonts/Lineal-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'LinealBlack';
  src: local('LinealBlack'), url('../fonts/Lineal-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'LinealRegular';
  src: local('LinealRegular'),
    url('../fonts/Lineal-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'LinealThin';
  src: local('LinealThin'), url('../fonts/Lineal-Thin.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: 1.5;
  background-color: $color-black;
  color: $color-white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'LinealBlack', sans-serif;
  font-size: $font-size-xxl;
  text-transform: uppercase;
}

h2 {
  font-family: 'LinealThin', sans-serif;
  font-size: $font-size-xl;
  letter-spacing: 0.4rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-l;
  font-weight: 300;
  color: $color-primary;
}

h4 {
  font-size: $font-size-m;
  font-weight: 300;
}

h4,
p {
  color: $color-font-base;
}
