.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16rem;

    &__title {
        margin-bottom: 1.6rem;
    }

    &__subtitle {
        margin-bottom: 6.4rem;
    }

    &__text {
        text-align: center;
        font-size: 2rem;
        transition: all 0.5s;
        height: 100%;
        padding-top: 1.5rem;
    }
}
