.my-tools {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 9.6rem;
    }
}

.tools {
    display: flex;
    gap: 4.4rem;

    &__tooltip {
        font-size: 1.8rem !important;
        margin-top: 1rem;
    }
}
